.main, .main_ar {
  margin-top: var(--navbar-height);
  min-height: calc(100vh - var( --navbar-height));
  display: flex;
  align-items: center;
  justify-content: center;
  color: #CDCDCD;
}
.main {
  margin-left: var(--sidebar-width);
}
.main_ar {
  margin-right: var(--sidebar-width);
}