@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Italic.ttf);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url(../fonts/Vazirmatn/Vazirmatn-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url(../fonts/Vazirmatn/Vazirmatn-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url(../fonts/Vazirmatn/Vazirmatn-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url(../fonts/Vazirmatn/Vazirmatn-Light.ttf);
  font-weight: 300;
  font-display: swap;
}
:root {
  --sidebar-width: 300px;
  --navbar-height: 80px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Vazirmatn', sans-serif;
}
body {
  background-color: #18181b;
}
a {
  text-decoration: none;
  color: inherit;
}